* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: red;
}

.topheader {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto;
}

nav {
    
}

.topheader nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}